body{
    margin: 0;
    padding: 0;
    font: 300 16px/1.5 'Roboto', sans-serif;
    color: #224945;
    background: #32aa99;
    background-size: cover;
    background-image:url('../Ad_ons/SUB-Pg.jpg')
}

.form_section{
    margin: 0, auto;
    background:#00000088;
    max-width: 100%;
    padding: 0 15px;
}
.subjects{
margin: 0;
padding: 0;


font-family: serif;
text-align: center;
justify-content: center;
}

h2{
    font-size: 24px;
    font-weight: 300;
    color: #fff;
}

h2{
  padding: 0;
  margin: 0;
}


p {
    margin: 0 0 15px;
  }

  input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    font: 300 16px/1.5 'Roboto', sans-serif;
    transition: border 0.3s linear;
  }

  input[type="text"]:focus {
    border-color: #4ac7be;
    outline: none;
  }

  .title a{
    color: #fff;
    text-decoration: none;
  }
  .title a:hover{
    color: #4ac7be;
  }
 
  .titl a{
    color: #fff;
    text-decoration: none;

  }

  .titl a:hover{
    color: #4ac7be;

  }

  .Btn_section{
    margin: 0px;
    padding: 6px;
  }

  .Btn_section{
    border-radius: 8px;
  }
  #addInput{
    background-color: #00000088;
    color: #fff;
  }
  #addInput{
    border-radius: 6px;
  }

  #addInput:hover{
    transition: 0.3s;
  }

  #addInput:hover{
    transform: scale(1.1);

  }


  .btn-primary {
    background: #4ac7be;
    border: none;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    color: #fff;
    cursor: pointer;
    font: 300 16px/1.5 'Roboto', sans-serif;
    transition: background 0.3s linear;
  }

  .btn-primary{
    border-radius: 8px;
  }
  
  .btn-primary:hover {
    background: #097fb7;
  }

  .btn-primary:focus {
    outline: none;
  }
  #toggleBtn{
    display: flex;
    justify-content: right;
  }

  #deleteBtn {
    background: #4ac7be;
    border: none;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    height: 40px;
    color: #fff;
    cursor: pointer;
    font: 300 16px/1.5 'Roboto', sans-serif;
    transition: background 0.3s linear;  
  }

  #deleteBtn{
    display: flex;
    justify-content: right;
  }
  
  #deleteBtn {
    border-radius: 8px;
  }

  #deleteBtn:hover {
    background: #097fb7;
  }

  #deleteBtn:focus {
    outline: none;
  }
  
  
  .SI_area {
    padding: 30px;
    margin: 30px 0;
    box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.2);
  }
  
  .SI_area .titleHolder {
    margin: 0 0 30px;
  }

  .addup{
    color: #fff;
    list-style: none;
  }

  .addup li:hover{
    color: #4ac7be;
    transition: 0.5s;
  }
  
  
  .HT li {
    counter-increment: step-counter;
    overflow: hidden;
    padding: 0 0 20px 30px;
    position: relative;
  }
  
  .HT li:before {
    content: counter(step-counter);
    background: #4ac7be;
    color: #fff;
    font-size: 14px;
    padding: 0px 6px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .addup li:hover{
    background-color: rgba(199, 241, 239, 0.466); 
    transition: 0.5s;
   
  }

  .addup li:hover{
    transform: scale(1.1);
  }

  .addup li:focus{
    outline: none;
  }
  
  .HT .listName {
    float: left;
  }
  
  .HT .btn-icon {
    float: right;
    margin: 0 0 0 20px;
  }

.formHolder {
    margin: 0 -5px;
    margin-bottom: 30px;
    overflow: visible;
    align-items: center;
    padding: 0;
  }

  .formHolder col{
    display: flex;
    justify-content: space-between;
  }

  .formHolder .coli{
    border: none;
    padding: 0px;
    vertical-align: top;
    height: 40px;
    color: #fff;
    cursor: pointer;
    font: 300 16px/1.5 'Roboto', sans-serif;
    transition: background 0.3s linear;
    gap: 2px;
}


.col{
  display: flex;
  justify-content: right;
}
  
  
  .formHolder .col {
    float: right;
    padding: 0 5px;
    justify-content: right;
  }
  
  .formHolder .Btn_section {
    width: 33%;
  }
