body{
    margin: 0;
    padding: 0;
}
/* navbar  section*/
nav{
    display: flex;
    justify-content: right;
    list-style: none;
    text-align: right;
    gap: 15px;
}
nav{
    

}

/* placeholder for questions*/
.editable-list, li{
    list-style: none;
}