body{
    margin: 0;
    padding: 0;
    background-color:#00000088; 
    backdrop-filter: blur(20px);
}
/* navbar  section*/
nav{
    display: flex;
    justify-content: right;
    list-style: none;
    text-align: right;
    gap: 15px;
}

nav{
    color: white;
}

nav{
    background-color: #f44322;

}
a{
    border-color: aqua;
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color: #12439e;
    transition: 0.3s;
}

#add-item {
border-color: #1453e2;
color: gray;
background-color: aquamarine;
}

#add-item:hover{
    color: #12439e;
    transition: 0.3s;
}

/* placeholder for questions*/

.editable-list, li{
    list-style: none;
    border-color: #1453e2;
    border:#1453e2
}

li{
    color: black;
    text-decoration: black;    
}
