
body{
    margin: 0;
    padding: 0;
    background-image: url('BG-library.jpg');;
    background: -moz-linear-gradient(#a68837);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-color: #a68837;

}

nav {
    background-color: #333; 
    text-align: right;     
    padding: 10px;         
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.navbar li {
    display: inline;
    margin-right: 10px;
}

ul.navbar li a {
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 8px;
}


ul.navbar li a:hover {
    color: #000;
    background-color:  #a68837;
    transition-delay: initial;
    transition-duration: 0.8s;
}


.Register{
    width: 350px;
    height: 450px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50% );
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

button {
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
  }
  button {
    background: #fff;
    color: #00625b;
    border-radius: 8px;
  }

  button:hover{
    background-color: #a68837;
    color:#0a0a0a;
    transition: 0.4s;
  }

.Register input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

#case a{
    text-decoration: none;
    color: white;
}

#case a{
    display: flex;
    text-align: center;
    justify-content: center;
}

#case a{
    background-color: #333;
    border-radius: 10px;
}

#case a:hover{
    background-color: #0a0a0a;
    color: #a68837;
}

#case a:hover{
    transition: 0.8s;
}

#case a:hover{
    transform: scale(1.1);
}